/* stylesheet for index.html */

body {
  min-height: 100vh; /* min 100% of the viewport height */
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: 0; /* top right bottom left margins all set to zero */
  display: flex;
  flex-direction: column; /* cross-axis horizontal */
  background-color: #0094b6;
}

ul {
  display: flex;
  list-style: none; /* remove list bullets */
  padding: 0;
  margin: 0;
  gap: 32px; /* gap between list bullets */
}

a {
  text-decoration: none; /* remove underline from links */
  color: black; /* link font colour */
  font-size: 24px; /* same size as subheader_1 title */
}


.header {
  min-height: 450px;
  background-color: #F5E258;
  padding: 32px 240px; /* top/bottom left/right */
}

.subheader_1 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 32px;
}

.subheader_1 div { /* descendant combinator */
  font-size: 24px;
  font-weight: bold;
}

.subheader_2 {
  display: flex;
  justify-content: space-between;
}

.left_content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 32px;
}

.hero_title {
  font-size: 48px;
  font-weight: bolder;
}

.hero_text {
  font-size: 24px;
}

.left_content button {
  background-color: #8619df;
  border-color: #0094b6;
  color: white;
  padding: 4px 8px; /* top/bottom left/right */
  border-width: 4px;
  border-radius: 8px; /* curved edges */
  font-size: 24px;
  max-width: 240px;
  height: auto;
}

#maldives {
  min-width: 600px;
  height: auto; /* preserve aspect ratio */
  object-fit: cover;
  border-style: solid;
  border-color: #0094b6;
  border-width: 4px;
  border-radius: 8px;
}

.content_1 {
  min-height: 500px;
  padding: 32px;
}

.content_1 img { /* descendant combinator */
  width: 275px;
  height: 325px;
  object-fit: cover;
  border-radius: 8px;
  border-style: solid;
  border-color: #F5E258;
  border-width: 4px;
  margin-bottom: 16px;

}

.gallery_header {
  color: #F5E258;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 32px;
}

.gallery {
  display: flex;
  justify-content: space-around;
}

.item1, .item2, .item3, .item4 {
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  color: #F5E258;
  font-size: 18px;
  font-weight: 600;
}

.content_2 {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: #1de498;
}

.quote {
  font-size: 36px;
  font-style: italic;
}

.author {
  font-weight: bold;
  font-size: 18px;
  margin-left: 200px;
}

.content_3 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #8619df;
  border-radius: 8px;
  padding: 32px 96px;
  margin: 32px 240px; /* top/bottom left/right */
}

.closer_title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.closer_text {
  font-size: 18px;
  color: white;
}

.footer {
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #F5E258;
  font-size: 18px;
}