/* stylesheet for landing page */

/* confirm why HTML element is slightly greater height than body element */
/* seemed to resolve once body element was set to display: flex */

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #D6F1C4;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0;
}

ul {
  display: flex;
  list-style: none; /* remove list bullets */
  padding: 0;
  margin: 0;
  gap: 16px; /* gap between list bullets */
}

a {
  text-decoration: none; /* remove link underline */
}

.header {
  height: auto; /* based on content */
  background-color: #F5E258;
  padding: 8px 240px 16px 240px; /* top right bottom left */
}

.subheader_1 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

.subheader_2 {
  display: flex;
  justify-content: space-between;
}

.left_box {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  justify-content: center;
}

.content_1 {

}

.content_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7967b;
}

#maldives {
  width: fit-content;
}