/* stylesheet for landing page */

/* confirm why HTML element is slightly greater height than body element */
/* seemed to resolve once body element was set to display: flex */

body {
  height: 100vh; /* 100% of the viewport height */
  overflow: hidden;
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #D6F1C4;
}

h1, h2, h3 { /* grouping selector */
  margin: 0;
}

h2 {
  text-align: center;
}

ul {
  display: flex;
  list-style: none; /* remove list bullets */
  padding: 0;
  margin: 0;
  gap: 16px; /* gap between list bullets */
}

a {
  text-decoration: none; /* remove underline from links */
}

.left_box p {
  margin: 0; /* remove default paragraph margins */
}

.left_box button {
  background-color: #0094b6;
  color: white;
  padding: 4px 16px; /* top/bottom left/right */
  border-radius: 8px; /* curved edges */
  max-width: 160px;
  max-height: auto;
}

.header {
  height: auto; /* adjusts to fit content */
  background-color: #F5E258;
  padding: 16px 240px 48px 240px; /* top right bottom left */
}

.subheader_1 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 32px;
}

.subheader_2 {
  display: flex;
  justify-content: space-between;
}

.left_box {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 32px;
}

.gallery {
  display: flex;
  justify-content: space-between;

}

.content_1 {
  padding: 32px;
}

.content_1 img {
  width: auto;
  height: 200px;
  border-radius: 8px;

}

.content_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7967b;
}

.footer {
  display: flex;
  min-height: 40px;
  margin: 16px 240px; /* top/bottom left/right */
  align-items: center;
  justify-content: center;
}

#maldives {
  width: 400px;
  height: auto; /* preserve proportions */
  border-color: black;
  border-radius: 8px;
}